@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  font-size: 62.5%;
  --lila-blue-color: #5366c3;
  --dark-blue-color: #3f83c0;
  --blue-color: #2aa1bd;
  --sky-blue-color: #15bfbb;
  --hover-text-color: #ffffff;
  --bg-color: #dbe1e2;
  --box-shadow-color: rgb(151, 148, 148);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 2rem;
  font-family: "Lobster Two", cursive;
  font-weight: 700;
  font-style: italic;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--bg-color);
  width: 50rem;
  height: 30rem;
  margin: 10rem auto;
  border: none;
  box-shadow: 15px 15px 35px var(--box-shadow-color);
  position: relative;
}
.tab {
  display: flex;
  align-items: center;
  height: 25%;
  z-index: 0;
}
.tab p{
  padding: 2rem;
}
.tab::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 25%;
  transition: width ease 1s;
  z-index: -10;
}
.home::before {
  background-color: var(--lila-blue-color);
}
.about::before {
  background-color: var(--dark-blue-color);
}
.work::before {
  background-color: var(--blue-color);
}
.contact::before {
  background-color: var(--sky-blue-color);
}
.tab:hover {
  color: var(--hover-text-color);
}
.tab:hover::before {
  width: 100%;
}
